{% extends 'base.html' %}

{% block title %}
    Profile Page
{% endblock title %}

{% block content %}


           <div class=" image d-flex flex-column justify-content-center align-items-center">
              <button class="btn btn-secondary"> <img src="{{user.profile_picture.url}}" height="100" width="100" /></button> 
              <span class="name mt-3">{{user.first_name}} {{user.last_name}}</span>
              
              <span class="idd">@{{user.username}}</span> 
              <span class="idd">{{user.email}}</span> 
              <div class=" d-flex mt-2"><a class="btn btn-dark" href="{% url 'users:profile-edit' %}">Edit profile</a></div>
              <div class=" px-2 rounded mt-4 date "> <span class="join">Date joined {{user.date_joined | date:"M d, Y"}}</span> </div>



<!-- 
    <img class="profile-pic" src="{{user.profile_picture.url}}" alt="Profile Pic">

    <a href="{% url 'users:profile-edit' %}">Edit profile</a>
    <p>Username: {{user.username}}</p>
    <p>First Name: {{user.first_name}}</p>
    <p>Last name: {{user.last_name}}</p>
    <p>Email: {{user.email}}</p> -->
{% endblock content %}
